{% extends 'main/base.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css'%}" />
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <div class="form">
          <form  method="post" id="login">
            {% csrf_token %} {% for field in form %} {% if field.label == "State" or field.label == "Gender" or field.label == "Current year" or field.label == "Accommodation required" %}
                    <div style="padding-top: 1vh; padding-bottom: 2vh;">
                        {{ field.label }}{% if field.field.required %}*{% endif %} : {{ field }}
                    </div>
                    {% elif field.label == "Username" %} {# {% elif %}#} {# {{field.label }}{% if field.field.required %}*{% endif %}:{{ field}}<br /><br />#} {% else %}
                    <div class="wrap-input100" style="position: relative; padding-top: 1vh; padding-bottom: 2vh;">
                        {# {{ field.label }}: {{field}}#}
                        {{ field.label }}{% if field.field.required %}*{% endif %} :
                        <input class="input100" type="{{ field.field.widget.input_type }}" value="{% if field.value != NULL %}{{ field.value }}{% endif %}" name="{{ field.name }}" placeholder="{% if field.field.required %}{{ field.label }}*{% endif %}"
                        />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="{{ field.field.widget.attrs.icon_name }}" aria-hidden="true"></i>
						</span>
                    </div>
                    {% endif %} {% for error in field.errors %}
                    <div class="alert alert-danger" style="color:red">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %} {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" style="color:red">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %} {% endfor %} {% if messages %} {% for message in messages %} {% if 'register-success' in message.tags %}
                    <div class="form-header green mb-4" style="color:green">{{ message }}</div>
                    {% endif %} {% endfor %} {% endif %}
                    <input type="submit" value="REGISTER" />
                </form>
                <!-- <a href="{% url 'main:home' %}" style="position: absolute; right: 35%; top: 6%;">
                    <button style="background-color:transparent; color:white;border: none; cursor: pointer;">
						<h1>Home</h1>
					</button>
                </a> -->
            <!-- <label for="email">email</label>
            <input type="text" id="email" name="emailname" />
            <label for="password">password</label>
            <input type="text" id="password" name="passwordname" />
            <label for="confirm password">confirm password</label>
            <input
              type="text"
              id="confirm password"
              name="confirm passwordname"
            />
            <label for="college">COLLEGE</label>
            <input type="text" id="college" name="collegename" />
            <label for="sport">SPORT</label>
            <input type="text" id="sport" name="sportname" />
            <label for="college">COLLEGE</label>
            <input type="text" id="college" name="collegename" />
            <label for="sport">SPORT</label>
            <input type="text" id="sport" name="sportname" />
            <label for="college">COLLEGE</label>
            <input type="text" id="college" name="collegename" />
            <label for="college">COLLEGE</label>
            <input type="text" id="college" name="collegename" />
            <label for="sport">SPORT</label>
            <input type="text" id="sport" name="sportname" />
            <label for="college">COLLEGE</label>
            <input type="text" id="college" name="collegename" /> -->
          </form>
        </div>
      </div>
    </div>
  </body>
</html>


    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script>
        $(".js-tilt").tilt({
            scale: 1.1,
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}